@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
    padding: 8px 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;

    display: flex;
    flex-direction: row;
    text-align: center;
    background: #de8c5d;
  }
.header img {
    width: 50px;
    padding-left: 20px;
   }

.header div {
    align-self: center;
}

.header #logo_text {
        align-self: center;
        padding-left: 39%; /* bad way to align to middle */
        padding-right: 30%; /* bad way to align to right */
}

.header #pfp {

}