@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-weight: bold;
    font-size: 30px;
}


.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;`
    font-size: 20px;
}

.profile #search_user {
    padding-left: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px
}

.profile #profile_and_statistics {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#profile_section {
    padding-bottom: 5px;
}

#profile_section_list {
    padding-top: 20px;
    padding-left: 28px; /* bad way to align to centre of pfp */
    line-height: 200%;
}

#profile_section_heading {
    padding-left: 28px; /* bad way to align to centre of pfp */
}

.profile #pfp {
    width: 150px;
}

.profile #statistics {
    padding-left: 21%; /* bad way to align to right */
    display: flex;
    flex-direction: column;
}

#statistics_list {
/*    line-height: 300%;    */
}

#footer {
    padding-left: 48px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 46%; /* bad way to align to personal statistics */
}

#public {
}

.divider {
    display: flex;
    align-items: center; 
  }  
  .divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1; 
  }

.form_element {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

#public {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


#button {
    padding-top: 2px;
}


h2 {
    font-weight: bold;
    font-size: 30px;
    color: blueviolet;
}

#stat1 {
    align-self: center;
    padding-left: 45%; /* bad way to align to middle of horizontal radio button */
}

#stat2 {
    align-self: center;
    padding-left: 40%; /* bad way to align to middle of horizontal radio button */
}

input {
    color:blueviolet
}

#colour {
    margin: .6rem;
}

#colour_div {
    
}