@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.timer-container {
    margin: 40px;
}

.countdown-circle {
    font-family: 'Work Sans', sans-serif;
    display:flex;
    justify-content: center;
}

.value {
    font-size: 60px;
}
.dot {
    width: 15px;
    height: 15px; 
    border-radius: 50%;
    background: #d6d9df; 
    margin: 5px 0; 
}

.dot.active {
    background: #374151;
}

.controls {
    display: flex; 
    justify-content: center;
    gap: 10px;
    margin: 20px 0px
}

.control-button {
    margin: 10px;
    padding: 8px 10px; 
    outline: none; 
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #d6d9df;
    background-color: white; 
    font-family: 'Work Sans';
}

.timer-settings-container {
    font-family: 'Work Sans';
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
}

.button-group {
    display: inline-flex; 
    border: 1px solid #d6d9df;
    border-radius: 6px; 
    overflow:hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.duration-button {
    padding: 8px 10px; 
    outline: none; 
    border: none; 
    border-right: 1px solid #d6d9df;
    background-color: white; 
    font-family: 'Work Sans';
}

.duration-button:last-child {
    border-right: none;
}

.duration-button:hover {
    background-color: #F3F4F5; 
}

.time-input {
    font-family: 'Work Sans';
    margin-left: 50px;
    padding: 0px 10px;
    width: 30px; 
    height: 29px;
    outline: none;
    border: 1px solid #d6d9df;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}